<!-- 
    <div class="vid-container">
            <video class="bgvid" autoplay="autoplay" [muted]="'muted'" preload="auto" loop>
                <source src="https://mazwai.com/videvo_files/video/free/2015-09/small_watermarked/postcard_from_big_sur_preview.webm" type="video/webm">
            </video>
         <div class="inner-container">
            <video class="bgvid inner" autoplay="autoplay" [muted]="'muted'" preload="auto" loop>
                <source src="https://mazwai.com/videvo_files/video/free/2015-09/small_watermarked/postcard_from_big_sur_preview.webm?random=1" type="video/webm">
            </video>
        
    <div class="box">
        <h1>Login</h1>
        <input type="text" placeholder="Username"/>
        <input type="text" placeholder="Password"/>
        <button>Login</button>
        <p>Not a member? <span>Sign Up</span></p>
      </div>
    </div>
  </div> -->

  <div class="login-container ">
    <video src="../../assets/log.mp4" class="video-background" loop="loop" autoplay muted></video>
    
    <div class="logo"><i class="material-icons">person_pin</i></div>
    <form (ngSubmit)="submitForm()" #resetForm="ngForm">
        <div>
            <!-- <label for="email">New Password:</label> -->
          <label  class="input-icon" for="username"> <i class="material-icons input-icon">person_outline</i></label>
          <input type="email" id="email" name="email" [(ngModel)]="email" required email placeholder="Enter User name or Email">
        </div>
        <div>
          <!-- <label for="newPassword">New Password:</label> -->
          <label class="input-icon" for="password"><i class="material-icons input-icon">lock_outline</i></label>
          <input type="password" id="newPassword" name="newPassword" [(ngModel)]="newPassword" required minlength="6" placeholder="Enter New Password">
        </div>
        <div>
          <!-- <label for="confirmPassword">Confirm Password:</label> -->
          <label class="input-icon" for="password"><i class="material-icons input-icon">lock_outline</i></label>
          <input type="password" id="confirmPassword" name="confirmPassword" [(ngModel)]="confirmPassword" required placeholder="Enter Confirm Password">
        </div>
        <div *ngIf="resetForm.submitted && resetForm.invalid">
          <p>Please fill out all fields correctly.</p>
        </div>
        <br>
        <div class="text-center mt-2">

            <button type="submit" class="btn btn-secondary me-2" routerLink="/home"> Cancel</button>
            <button type="submit" class="btn btn-primary"> Reset Password </button>
        </div>
      </form>
  
</div>
      
<!-- <div class="container-fluid">
    <div class="row">
        <div class="card text-center">
            <form (ngSubmit)="submitForm()" #resetForm="ngForm">
                <div>
                  <label for="email">Email:</label>
                  <input type="email" id="email" name="email" [(ngModel)]="email" required email>
                </div>
                <div>
                  <label for="newPassword">New Password:</label>
                  <input type="password" id="newPassword" name="newPassword" [(ngModel)]="newPassword" required minlength="6">
                </div>
                <div>
                  <label for="confirmPassword">Confirm Password:</label>
                  <input type="password" id="confirmPassword" name="confirmPassword" [(ngModel)]="confirmPassword" required>
                </div>
                <div *ngIf="resetForm.submitted && resetForm.invalid">
                  <p>Please fill out all fields correctly.</p>
                </div>
                <button type="submit">Reset Password</button>
              </form>
        </div>
    </div>
</div> -->