<div class="reset-img">
  <img src="../../assets/reset_password.png" style="width: 100%;height: 100%;">
</div>
<div class="reset-div">
  <div class="header">
    <h3>Reset Password</h3>
  </div>
  <div class="reset-content">
<form [formGroup]="resetForm" (ngSubmit)="getresetval()">
  <div class="row">
    <div class="col-lg-6">
        <!-- <mat-form-field formControlName="userName" class="form-control" id="exampleFormControlSelect1">  
          <mat-label>Select login name</mat-label>  
          <mat-select>  
            <mat-option *ngFor="let data of userlistdata" [value]="data['Login Name']">  
              {{data['Login Name']}}  
            </mat-option>  
          </mat-select>  
        </mat-form-field>   -->
       
          <mat-form-field appearance="outline" class="mat-form-field">
            <mat-label>Select login name<span class="required-asterisk">*</span></mat-label> 
              <mat-select matInput formControlName="loginName" autocomplete="off">
                  <!-- <mat-option>Select login name</mat-option> -->
                  <mat-option *ngFor="let data of userlistdata" [value]="data['Login Name']" (click)="getUserName(data)">{{data['Login Name']}}</mat-option>
            
                </mat-select>
                <mat-error *ngIf="formCtrl.loginName.errors?.required">Login name is required</mat-error>

          </mat-form-field>
      
    </div>
    <div class="col-lg-6">
        <mat-form-field appearance="outline" class="mat-form-field">
          <mat-label>Email ID</mat-label>
          <input matInput formControlName="emailID" [ngModel]="emailid" autocomplete="off" type="text" class=" mt-2 f-10" placeholder="Email ID" readonly="true">   
        </mat-form-field>
     
    </div>
   </div>
 <div class="row">
    <div class="col-lg-6">
      <mat-form-field appearance="outline" class="mat-form-field">
          <mat-label>Password<span class="required-asterisk">*</span></mat-label>
          <input matInput placeholder="Enter password" formControlName="password" autocomplete="off" [type]="showPass ? 'password' : 'text'"
          [ngClass]="{ 'is-invalid': submitted && formCtrl.password.errors }" (keydown)="keyPress($event)">
          <mat-icon matSuffix (click)="showPass = !showPass"><span class="material-symbols-outlined"> {{showPass ? 'visibility' : 'visibility_off'}} </span></mat-icon>
          <mat-error *ngIf="formCtrl.password.errors?.required">Password is required</mat-error>
          <mat-error class="mb-6" *ngIf="formCtrl.password.errors?.pattern">Password must contain more than 5 characters,1 numeric,1 upper case letter and 1 special character($@$!%*?&).</mat-error>
        </mat-form-field>
      </div>
  <div class="col-lg-6">
    <mat-form-field appearance="outline" class="mat-form-field">
        <mat-label>Confirm Password<span class="required-asterisk">*</span></mat-label>
        <input matInput #pwd placeholder="Confirm Password" formControlName="conpassword" autocomplete="off"  [type]="showPass1 ? 'password' : 'text'"
        [ngClass]="{ 'is-invalid': submitted && formCtrl.conpassword.errors }"
                      (keydown)="keyPress($event)" (input)="keyup(pwd)">
        <mat-icon matSuffix (click)="showPass1 = !showPass1"><span class="material-symbols-outlined"> {{showPass1 ? 'visibility' : 'visibility_off'}} </span></mat-icon>
        <mat-error *ngIf="formCtrl.conpassword.errors?.required">Confirm password is required</mat-error>
        <!-- <mat-error *ngIf="passwordMatchError.errors?.mismatch">password does not match</mat-error> -->
    </mat-form-field>
    <span style="color:red" class="pt-2">
      {{matchpwd}}
    </span>
  </div>
</div>
<div class="row">
 <div class="col-lg-6">

 </div>
 
 <div class="col-lg-6">

 </div>
 <div class="col-lg-6">

 </div>
 <div class="col-lg-6 mt-4">

  <button class="btn btn-primary" style="float: right;" [disabled]="(resetForm.invalid)?true:(matchpwd=='Password is not matching')?true:false">
    Submit
  </button>&nbsp;&nbsp;
  <button class="btn btn-outline-secondary"  routerLink="/home" style="float: right; margin-right: 10px;">
    Cancel
      </button>&nbsp;&nbsp;
 </div>
 </div>
   
 
  
  
   
  

  <!-- <div class="row py-3">
    <form [formGroup]="form" (ngSubmit)="resetPassword()">
        <p class="d-grid gap-2 px-2 my-2">
            <mat-form-field appearance="outline">
              <mat-label>Username</mat-label>
              <input matInput placeholder="Enter username" formControlName="loginname" autocomplete="off">
              <mat-error *ngIf="formCtrl.loginname.errors?.required">Username is required</mat-error>
            </mat-form-field>
        </p> 
        <p class="d-grid gap-2 px-2 my-2">
            <mat-form-field appearance="outline">
                <mat-label>Password</mat-label>
                <input matInput placeholder="Enter password" formControlName="password" autocomplete="off" [type]="showPass ? 'password' : 'text'">
                <mat-icon matSuffix (click)="showPass = !showPass"><span class="material-symbols-outlined"> {{showPass ? 'visibility' : 'visibility_off'}} </span></mat-icon>
                <mat-error *ngIf="formCtrl.password.errors?.required">Password is required</mat-error>
                <mat-error class="mb-6" *ngIf="formCtrl.password.errors?.pattern">Password must contain more than 5 characters,1 numeric,1 upper case letter and 1 special character($@$!%*?&).</mat-error>
              </mat-form-field>
        </p>
        <p class="d-grid gap-2 px-2 mt-4">
          <mat-form-field appearance="outline">
              <mat-label>Confirm Password</mat-label>
              <input matInput placeholder="Confirm Password" formControlName="conpassword" autocomplete="off"  [type]="showPass1 ? 'password' : 'text'">
              <mat-icon matSuffix (click)="showPass1 = !showPass1"><span class="material-symbols-outlined"> {{showPass1 ? 'visibility' : 'visibility_off'}} </span></mat-icon>
              <mat-error *ngIf="formCtrl.conpassword.errors?.required">Confirm password is required</mat-error>
              <mat-error *ngIf="passwordMatchError">password does not match</mat-error>
          </mat-form-field>
      </p>
        <div class="text-center mt-2">
          <button type="submit" class="btn btn-secondary me-2" routerLink="/home">Cancel</button>
          <button type="submit" class="btn btn-primary">Reset Password</button>
      </div>
    </form>
</div> -->
</form>
  </div>
</div>






