<section>
    <div class="container-fluid">
        <div class="row">
          <div class="col-md-1">
            <button type="button" class="btn btn-danger" onclick="history.back()"><mat-icon style="float: left;">keyboard_return</mat-icon> </button>
        </div>
            <div class="col-md-5">
              <div class="searchBar d-flex justify-content-center align-items-center">
                <span class="material-symbols-sharp">search</span>
                <input class="form-control" type="search" #input placeholder="Enter search query..." (keyup)="applyFilter($event)">
              </div>
            </div>
            <div class="col-md-6 text-end"></div>
        </div>
        <div class="row my-2">
            <div class="card p-2 shadow">
                <div class="table-hight">
                    <table mat-table [dataSource]="dataSource" tabindex="0">
                        <ng-container matColumnDef="sr">
                          <th mat-header-cell *matHeaderCellDef> No. </th>
                          <td mat-cell *matCellDef="let element"> {{element.fmls_id}} </td>
                        </ng-container>
                        <ng-container matColumnDef="form_name">
                          <th mat-header-cell *matHeaderCellDef> form_name </th>
                          <td mat-cell *matCellDef="let element"> {{element.form_name}} </td>
                        </ng-container>
                        <ng-container matColumnDef="description">   
                          <th mat-header-cell *matHeaderCellDef> description </th>
                          <td mat-cell *matCellDef="let element"> {{element.description}} </td>
                        </ng-container>
                        <ng-container matColumnDef="active_status">
                          <th mat-header-cell *matHeaderCellDef> active_status </th>
                          <td mat-cell *matCellDef="let element"> {{element.active_status ? 'Active' : 'Inactive'}} </td>
                        </ng-container>
                        <ng-container matColumnDef="created_at">
                          <th mat-header-cell *matHeaderCellDef> created_at </th>
                          <td mat-cell *matCellDef="let element"> {{element.created_at | date}} </td>
                        </ng-container>
                        <ng-container matColumnDef="action">
                          <th mat-header-cell *matHeaderCellDef> Action&nbsp;&nbsp;&nbsp;</th>
                          <td mat-cell *matCellDef="let element">
                            <button mat-mini-fab color="primary" [routerLink]="['/admin/view-form', element.fmls_id]"><mat-icon>edit</mat-icon></button>
                            <!-- &nbsp;&nbsp;&nbsp;
                            <button mat-mini-fab color="primary" [routerLink]="['/admin/previlenge',element.fmls_id]"><mat-icon>settings_backup_restore</mat-icon></button>&nbsp;&nbsp; -->

                            &nbsp;&nbsp;

                        </td>
                        </ng-container>
           

                        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        <tr class="mat-row" *matNoDataRow>
                            <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
                        </tr>
                    </table>
                </div>
                <mat-paginator [pageSizeOptions]=pagination showFirstLastButtons aria-label="Select page of periodic elements"> </mat-paginator>
            </div>
        </div>
    </div>
</section>