<section class="bg-img shadow">
    <div class="container-fluid">
        <div class="row py-3">
            <div class="col-md-5">
                <div class="row p-3">
                    <div class="card p-3 shadow">
                        <!-- <p class="p-2"><span class="fs-5">Welcome for</span><br> <span class="fs-2 ms-5">Services ERP</span></p> -->
                        <div>
                            <img src="../../assets/img/logo_ds.png" alt="logo" style="margin-left: 70px;">
                        </div>
                        <div class="row py-3">
                            <form [formGroup]="form" (ngSubmit)="createForm()">
                                <p class="d-grid gap-2 px-2 my-2">
                                    <mat-form-field appearance="outline">
                                        <mat-label>User E-Mail or Mobile no.</mat-label>
                                        <input matInput placeholder="User E-Mail or Mobile no." formControlName="name" type="text">
                                        <!-- <mat-icon matSuffix>verified_user</mat-icon>
                                        <mat-error *ngIf="formCtrl.email.errors?.required">User name is must.</mat-error> -->
                                    </mat-form-field>
                                </p>
                                <p class="d-grid gap-2 px-2 my-2">
                                    <mat-form-field appearance="outline">
                                        <mat-label>Password</mat-label>
                                        <input matInput placeholder="Password" formControlName="password" [type]="showPass ? 'password' : 'text'">
                                        <mat-icon matSuffix (click)="showPass = !showPass"><span class="material-symbols-outlined"> {{showPass ? 'visibility' : 'visibility_off'}} </span></mat-icon>
                                        <mat-error *ngIf="formCtrl.password.errors?.required">User password is must.</mat-error>
                                    </mat-form-field>
                                </p>
                                <div class="d-grid gap-2 mt-2 px-2 my-1">
                                    <button type="submit" mat-raised-button color="primary">Sign in</button>
                                </div>
                            </form>
                        </div>
                        <div class="row px-2">
                            <div class="col-6"></div>
                            <div class="col-6 text-end">
                                <a [routerLink]="['/reset-password']" routerLinkActive="router-link-active">Forget Password</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-7"></div>
        </div>
    </div>
  </section>
  