<section class="bg-img shadow">
  <div class="container-fluid">
    <div class="row py-3">
      <div class="col-md-4"></div>
      <div class="col-md-4">
        <div class="row p-3">
          <div class="card p-3 shadow float-right">
            <div class="text-center">
              <!-- <img
                  src="../../assets/orgLogo.jpg"
                  alt="logo"
                  style="width: 200px; height: 200px"
                /> -->
              <h1
                style="
                  font-weight: 600;
                  font-family: 'Gill Sans', 'Gill Sans MT', Calibri,
                    'Trebuchet MS', sans-serif;
                "
              >
                Create Approval
              </h1>
            </div>

            <div class="row py-3">
              <form [formGroup]="form" (ngSubmit)="selectForm()">
                <p class="d-grid gap-2 px-2 my-2">
                  <mat-form-field>
                    <mat-label>Select Form Module</mat-label>
                    <mat-select matInput formControlName="module_name">
                      <mat-option
                        *ngFor="let module of modulelist"
                        [value]="module.fmls_id"
                      >
                        {{ module.form_name }}
                      </mat-option>
                    </mat-select>
                    <!-- <mat-error
                      class="mb-4"
                      *ngIf="formCtrl.module_name.errors?.required"
                      >Form Module is required</mat-error
                    > -->
                  </mat-form-field>
                </p>
                <p class="d-grid gap-2 px-2 my-2">
                  <mat-form-field appearance="outline">
                    <mat-label>Approval Name</mat-label>
                    <input
                      matInput
                      placeholder="Enter approval name"
                      formControlName="name"
                      type="text"
                    />
                  </mat-form-field>
                </p>
                <p class="d-grid gap-2 px-2 my-2">
                  <mat-form-field appearance="outline">
                    <mat-label>Run this process</mat-label>
                    <mat-radio-group matInput formControlName="condition">
                      <mat-radio-button
                        *ngFor="let con of approvalCondition"
                        [value]="con.cond_id"
                      >
                        {{ con.type }}
                      </mat-radio-button>
                    </mat-radio-group>
                  </mat-form-field>
                </p>
                <div class="d-grid gap-2 mt-2 px-2 my-1">
                  <button type="submit" mat-raised-button color="primary">
                    Submit
                  </button>
                </div>
              </form>
            </div>
            <!-- <div class="row">
                <div class="col-4"></div>
                <div class="col-6">
                  <a
                    [routerLink]="['/admin/createOrganization']"
                    routerLinkActive="router-link-active"
                    >Create Organization</a
                  >
                </div>
                <div class="col-2"></div>
              </div> -->
            <br />
            <!-- <div class="text-center mt-1">
                <span style="color: brown">Powered by :</span>
                <a href="https://augtrans.com/"> Augmented Transformations</a>
              </div> -->
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <!-- <img src="../../assets/ass.avif"> -->
      </div>
    </div>
  </div>
</section>
