<section>
  <div class="container">
    <form [formGroup]="dynamicForm">
      <div class="row card p-3">
        <h2>Create Item</h2>
        <hr />

        <div class="row">
          <div class="col-md-12 px-2 py-1">
            <mat-form-field class="d-grid gap-2" appearance="outline">
              <mat-label>Assigned To</mat-label>
              <mat-select formControlName="user_id">
                <mat-option>Select User Name</mat-option>
                <mat-option
                  [value]="data.user_id"
                  *ngFor="let data of linkListData['User Name']"
                  (click)="getIDBasedLinkingByUser(data.user_id)"
                  >{{ data["User Name"] }}</mat-option
                >
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 px-2 py-1" *ngFor="let field of nosubform">
            <mat-form-field class="d-grid gap-2" appearance="outline">
              <mat-label>{{ field?.column_label }}</mat-label>
              <input
                *ngIf="
                  field.type != 'dropdown'
                    ? field.type != 'assigndropdown'
                    : false
                "
                matInput
                formControlName="{{ field.column_label }}"
                type="{{ field?.type }}"
              />
              <mat-select
                formControlName="{{ field.column_label }}"
                *ngIf="
                  field.type == 'dropdown'
                    ? true
                    : field.type == 'assigndropdown'
                    ? true
                    : false
                "
              >
                <mat-option>Select Column name</mat-option>
                <mat-option
                  [value]="options.id"
                  *ngFor="let options of field.column_value"
                  >{{ options.value | titlecase }}</mat-option
                >
              </mat-select>
              <mat-icon
                matSuffix
                *ngIf="
                  field.type == 'dropdown' || field.type == 'assigndropdown'
                "
                (click)="$event.stopPropagation(); addField(field)"
                >add_circle</mat-icon
              >
              <mat-error class="mb-4" *ngIf="field.mandatory"
                >{{ field.column_label }} is required.</mat-error
              >
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="row card p-3 mt-2" *ngIf="subformdata.length != 0">
        <h2 class="">{{ subformdata[0].module_title }}</h2>
        <hr />
        <div class="row">
          <div class="col-md-6 px-2 py-1" *ngFor="let field of subformdata">
            <mat-form-field class="d-grid gap-2" appearance="outline">
              <mat-label>{{ field?.column_label }}</mat-label>
              <input
                *ngIf="
                  field.type != 'dropdown'
                    ? field.type != 'assigndropdown'
                    : false
                "
                matInput
                formControlName="{{ field.column_label }}"
                type="{{ field?.type }}"
              />
              <mat-select
                formControlName="{{ field.column_label }}"
                *ngIf="
                  field.type == 'dropdown'
                    ? true
                    : field.type == 'assigndropdown'
                    ? true
                    : false
                "
              >
                <mat-option>Select Column name</mat-option>
                <mat-option
                  [value]="options.id"
                  *ngFor="let options of field.column_value"
                  >{{ options.value | titlecase }}</mat-option
                >
              </mat-select>
              <mat-icon
                matSuffix
                *ngIf="
                  field.type == 'dropdown' || field.type == 'assigndropdown'
                "
                (click)="$event.stopPropagation(); addField(field)"
                >add_circle</mat-icon
              >
              <mat-error class="mb-4" *ngIf="field.mandatory"
                >{{ field.column_label }} is required.</mat-error
              >
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="footer row mt-2 bg-light">
        <div class="text-center">
          <button
            class="me-2"
            mat-raised-button
            type="submit"
            color="secondary"
            onclick="history.back()"
          >
            Cancel
          </button>
          <button
            mat-raised-button
            type="submit"
            [disabled]="!dynamicForm.valid"
            color="primary"
            (click)="submitForm()"
          >
            Create Item
          </button>
        </div>
      </div>
      <br />
    </form>
  </div>
</section>
<router-outlet></router-outlet>
