<div class="container">
  <nav mat-tab-nav-bar [backgroundColor]="background" style="font-weight: 600">
    <a
      mat-tab-link
      *ngFor="let link of links"
      (click)="getActiveLinkStatus((activeLink = link.status))"
      [active]="activeLink == link.status"
    >
      {{ link.value }}
    </a>
    <mat-icon (click)="toggleBackground()">swap_horiz</mat-icon>
  </nav>

  <div class="row mt-3">
    <div class="col-md-3 mt-1">
      <div class="search-box">
        <input
          class="search-input"
          type="text"
          placeholder="Search something.."
          [(ngModel)]="searchTerm"
          (keyup)="applyFilter()"
        />
      </div>
    </div>
    <div class="col-md-3">
      <mat-form-field style="height: 70px; width:185px">
        <mat-select [(ngModel)]="type" (selectionChange)="getType()">
          <mat-option *ngFor="let ele of types" [value]="ele.id">
            {{ ele.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
   
<div class="col-md-3">
  <mat-form-field style="height: 70px; width: 165px" *ngIf="showStatusFilter">
    <mat-label class="label">Select Status</mat-label>
    <mat-select class="label" matInput [ngModel]="statusData">
      <mat-option
        class="label"
        *ngFor="let st of status"
        [value]="st.value"
        (click)="getStatusWiseTicketData(st.value)"
      >
        {{ st.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  </div>
  
    <div class="col-md-3">
      <mat-form-field style="height: 70px; width: 165px">
        <mat-label>Select Status</mat-label>
        <mat-select matInput [ngModel]="statusData">
          <mat-option
            *ngFor="let st of status"
            [value]="st.value"
            (click)="getStatusWiseTicketData(st.value)"
          >
            {{ st.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <!-- <button
          class="btn btn-primary float-right"
          style="align-items: end"
          [routerLink]="['create-tickets']"
        >
          <mat-icon style="float: left">add</mat-icon> &nbsp; Create New
        </button> -->
    </div>
  </div>

  <div class="row" *ngIf="show">
    <mat-form-field class="col-5">
      <mat-label>Start Date</mat-label>
      <input matInput [matDatepicker]="picker" />
      <!-- <mat-hint>MM/DD/YYYY</mat-hint> -->
      <mat-datepicker-toggle
        matIconSuffix
        [for]="picker"
      ></mat-datepicker-toggle>
      <mat-datepicker
        #picker
        startView="year"
        [startAt]="startDate"
      ></mat-datepicker>
    </mat-form-field>
    <mat-form-field class="col-5">
      <mat-label>End Date</mat-label>
      <input matInput [matDatepicker]="picker1" />
      <!-- <mat-hint>MM/DD/YYYY</mat-hint> -->
      <mat-datepicker-toggle
        matIconSuffix
        [for]="picker1"
      ></mat-datepicker-toggle>
      <mat-datepicker
        #picker1
        startView="year"
        [startAt]="endDate"
      ></mat-datepicker>
    </mat-form-field>
    <div class="col-2">
      <button class="btn btn-primary p-3" mat-flat-button color="accent">
        Send Request <mat-icon>send</mat-icon>
      </button>
    </div>
  </div>
  <div class="scroll p-2" *ngIf="showIncident">
    <div class="row" *ngFor="let data of incidentlistdata">
      <div class="col-md-12">
        <div
          class="card1 mt-2"
          *ngIf="data.Priority === 'High'"
          (click)="gotoincdetails(data.inid_id)"
        >
          <div class="row">
            <div class="col-md-4 col-sm-4">
              <!-- <p id="description">{{data.short_desc}}</p> -->
              <p id="description1">Item: {{ data.Item }}</p>
            </div>
            <div class="col-md-4 col-sm-4">
              <p id="group">Category: {{ data["Category"] }}</p>
            </div>
            <div class="col-md-4 col-sm-4">
              <p id="group">
                Issue Description: {{ data["Issue Description"] }}
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 col-sm-4">
              <a style="text-align: left">
                <span id="incid" class="la la-trash">
                  Ticket ID: {{ data.inid_id }}</span
                ></a
              >
            </div>
            <div class="col-md-4 col-sm-4">
              <p id="from">Call Mode: {{ data["Call Mode"] }}</p>
            </div>
            <div class="col-md-4 col-sm-4">
              <p id="from">Call Type: {{ data["Call Type"] }}</p>
            </div>
          </div>

          <div class="row">
            <div class="col-md-4 col-sm-4">
              <p id="from">Last Updated: {{ data["Last Updated"] }}</p>
            </div>

            <div class="col-md-4 col-sm-4">
              <p id="created">Assigned To: {{ data.assignto }}</p>
            </div>
            <div class="col-md-4 col-sm-4">
              <p id="created">Status: {{ data.Status }}</p>
            </div>
          </div>

          <!--  
                       <div class="row">
                        <div class="col-md-5 col-sm-5">
                          <p id="assignedto">Issue Description:</p>
                          
                         </div>
     
                         <div class="col-md-4 col-sm-2">
                          <p id="assignedto1">{{data['Issue Description']}}</p>
                                        
                         </div>
                       </div> -->
        </div>
        <div
          class="card2 mt-2"
          *ngIf="data.Priority === 'Medium'"
          (click)="gotoincdetails(data.inid_id)"
        >
          <div class="row">
            <div class="col-md-4 col-sm-4">
              <!-- <p id="description">{{data.short_desc}}</p> -->
              <p id="description1">Item: {{ data.Item }}</p>
            </div>
            <div class="col-md-4 col-sm-4">
              <p id="group">Category: {{ data["Category"] }}</p>
            </div>
            <div class="col-md-4 col-sm-4">
              <p id="group">
                Issue Description: {{ data["Issue Description"] }}
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 col-sm-4">
              <a style="text-align: left">
                <span id="incid" class="la la-trash">
                  Ticket ID: {{ data.inid_id }}</span
                ></a
              >
            </div>
            <div class="col-md-4 col-sm-4">
              <p id="from">Call Mode: {{ data["Call Mode"] }}</p>
            </div>
            <div class="col-md-4 col-sm-4">
              <p id="from">Call Type: {{ data["Call Type"] }}</p>
            </div>
          </div>

          <div class="row">
            <div class="col-md-4 col-sm-4">
              <p id="from">Last Updated: {{ data["Last Updated"] }}</p>
            </div>

            <div class="col-md-4 col-sm-4">
              <p id="created">Assigned To: {{ data.assignto }}</p>
            </div>
            <div class="col-md-4 col-sm-4">
              <p id="created">Status: {{ data.Status }}</p>
            </div>
          </div>

          <!--  
                    <div class="row">
                     <div class="col-md-5 col-sm-5">
                       <p id="assignedto">Issue Description:</p>
                       
                      </div>
  
                      <div class="col-md-4 col-sm-2">
                       <p id="assignedto1">{{data['Issue Description']}}</p>
                                     
                      </div>
                    </div> -->
        </div>
        <div
          class="card3 mt-2"
          *ngIf="data.Priority === 'Critical'"
          (click)="gotoincdetails(data.inid_id)"
        >
          <div class="row">
            <div class="col-md-4 col-sm-4">
              <!-- <p id="description">{{data.short_desc}}</p> -->
              <p id="description1">Item: {{ data.Item }}</p>
            </div>
            <div class="col-md-4 col-sm-4">
              <p id="group">Category: {{ data["Category"] }}</p>
            </div>
            <div class="col-md-4 col-sm-4">
              <p id="group">
                Issue Description: {{ data["Issue Description"] }}
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 col-sm-4">
              <a style="text-align: left">
                <span id="incid" class="la la-trash">
                  Ticket ID: {{ data.inid_id }}</span
                ></a
              >
            </div>
            <div class="col-md-4 col-sm-4">
              <p id="from">Call Mode: {{ data["Call Mode"] }}</p>
            </div>
            <div class="col-md-4 col-sm-4">
              <p id="from">Call Type: {{ data["Call Type"] }}</p>
            </div>
          </div>

          <div class="row">
            <div class="col-md-4 col-sm-4">
              <p id="from">Last Updated: {{ data["Last Updated"] }}</p>
            </div>

            <div class="col-md-4 col-sm-4">
              <p id="created">Assigned To: {{ data.assignto }}</p>
            </div>
            <div class="col-md-4 col-sm-4">
              <p id="created">Status: {{ data.Status }}</p>
            </div>
          </div>
        </div>
        <div
          class="card mt-2"
          *ngIf="data.Priority === 'Low'"
          (click)="gotoincdetails(data.inid_id)"
        >
          <div class="row">
            <div class="col-md-4 col-sm-4">
              <!-- <p id="description">{{data.short_desc}}</p> -->
              <p id="description1">Item: {{ data.Item }}</p>
            </div>
            <div class="col-md-4 col-sm-4">
              <p id="group">Category: {{ data["Category"] }}</p>
            </div>
            <div class="col-md-4 col-sm-4">
              <p id="group">
                Issue Description: {{ data["Issue Description"] }}
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 col-sm-4">
              <a style="text-align: left">
                <span id="incid" class="la la-trash">
                  Ticket ID: {{ data.inid_id }}</span
                ></a
              >
            </div>
            <div class="col-md-4 col-sm-4">
              <p id="from">Call Mode: {{ data["Call Mode"] }}</p>
            </div>
            <div class="col-md-4 col-sm-4">
              <p id="from">Call Type: {{ data["Call Type"] }}</p>
            </div>
          </div>

          <div class="row">
            <div class="col-md-4 col-sm-4">
              <p id="from">Last Updated: {{ data["Last Updated"] }}</p>
            </div>

            <div class="col-md-4 col-sm-4">
              <p id="created">Assigned To: {{ data.assignto }}</p>
            </div>
            <div class="col-md-4 col-sm-4">
              <p id="created">Status: {{ data.Status }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="scroll p-2" *ngIf="showHousekeepingIncident">
    <div class="row" *ngFor="let data of incidentlistdata">
      <div class="col-md-12">
        <div
          class="card1 mt-2 m-fs m-d-flex m-graph"
          (click)="gotoincHouseKeepingdetails(data.hksd_id)"
        >
          <div class="row">
            <div class="col-md-4 col-sm-4">
              <!-- <p id="description">{{data.short_desc}}</p> -->
              <p id="description1">Item: {{ data.Item }}</p>
            </div>
            <div class="col-md-4 col-sm-4">
              <!-- <p id="description">{{data.short_desc}}</p> -->
              <p id="description1">Location: {{ data.Location }}</p>
            </div>
            <div class="col-md-4 col-sm-4">
              <!-- <p id="description">{{data.short_desc}}</p> -->
              <p id="description1">Status: {{ data["Status"] }}</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 col-sm-4">
              <a style="text-align: left">
                <span id="incid" class="la la-trash">
                  Ticket ID: {{ data.hksd_id }}</span
                ></a
              >
            </div>

            <div class="col-md-4 col-sm-4">
              <!-- <p id="created">Created :{{data.createddate}}</p> -->
              <p id="from" style="display: inline">
                Guest Name: {{ data["Guest Name"] }}
              </p>
            </div>
            <div class="col-md-4 col-sm-4">
              <p id="from">Mobile Number: {{ data["Mobile Number"] }}</p>
            </div>
          </div>

          <div class="row">
            <!-- <div class="col-md-4 col-sm-4">
                     
                      <p id="from">Call Mode: {{data['Call Mode']}}</p>
                    </div> -->

            <div class="col-md-4 col-sm-4">
              <!-- <p id="created">Created :{{data.createddate}}</p> -->
              <p id="from">Call Type: {{ data["Call Type"] }}</p>
            </div>
            <div class="col-md-4 col-sm-4">
              <p id="created">
                Issue Description: {{ data["Issue Description"] }}
              </p>
            </div>
          </div>
        </div>
        <!-- <div class="card2 mt-2 m-fs m-d-flex m-graph" *ngIf="data.Priority === 'Medium'">
          <div class="row">
            <div class="col-md-4 col-sm-4">          
              <p id="description1">Asset Group: {{ data["Asset Group"] }}</p>
            </div>
            <div class="col-md-4 col-sm-4">          
              <p id="description1">
                Issue Description: {{ data["Issue Description"] }}
              </p>
            </div>
            <div class="col-md-4 col-sm-4">
             
              <p id="description1">Status: {{ data["Status"] }}</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 col-sm-4">
              <a style="text-align: left">
                <span id="incid" class="la la-trash">
                  {{ data.hksd_id }}</span
                ></a
              >
            </div>

            <div class="col-md-4 col-sm-4">
            
              <p id="from" style="display: inline">
                Short Description: {{ data["Short Description"] }}
              </p>
            </div>
            <div class="col-md-4 col-sm-4">
              <p id="group">
                Detail Description: {{ data["Detail Description"] }}
              </p>
            </div>
          </div>

          <div class="row">
           
            <div class="col-md-4 col-sm-4">
              
              <p id="from">Call Type: {{ data["Call Type"] }}</p>
            </div>
            <div class="col-md-4 col-sm-4">
              
              <p id="from">Location: {{ data["Location"] }}</p>
            </div>
          </div>
        </div>
        <div class="card3 mt-2 m-fs m-d-flex m-graph" *ngIf="data.Priority === 'Critical'">
          <div class="row">
            <div class="col-md-4 col-sm-4">
            
              <p id="description1">Asset Group: {{ data["Asset Group"] }}</p>
            </div>
            <div class="col-md-4 col-sm-4">
             
              <p id="description1">
                Issue Description: {{ data["Issue Description"] }}
              </p>
            </div>
            <div class="col-md-4 col-sm-4">
             
              <p id="description1">Status: {{ data["Status"] }}</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 col-sm-4">
              <a style="text-align: left">
                <span id="incid" class="la la-trash">
                  {{ data.hksd_id }}</span
                ></a
              >
            </div>

            <div class="col-md-4 col-sm-4">
             
              <p id="from" style="display: inline">
                Short Description: {{ data["Short Description"] }}
              </p>
            </div>
            <div class="col-md-4 col-sm-4">
              <p id="group">
                Detail Description: {{ data["Detail Description"] }}
              </p>
            </div>
          </div>

          <div class="row">
            

            <div class="col-md-4 col-sm-4">
             
              <p id="from">Call Type: {{ data["Call Type"] }}</p>
            </div>
            <div class="col-md-4 col-sm-4">
             
              <p id="from">Location: {{ data["Location"] }}</p>
            </div>
          </div>
        </div>
        <div class="card mt-2 m-fs m-d-flex m-graph" *ngIf="data.Priority === 'Low'">
          <div class="row">
            <div class="col-md-4 col-sm-4">
              
              <p id="description1">Asset Group: {{ data["Asset Group"] }}</p>
            </div>
            <div class="col-md-4 col-sm-4">
              
              <p id="description1">
                Issue Description: {{ data["Issue Description"] }}
              </p>
            </div>
            <div class="col-md-4 col-sm-4">
             
              <p id="description1">Status: {{ data["Status"] }}</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 col-sm-4">
              <a style="text-align: left">
                <span id="incid" class="la la-trash">
                  {{ data.hksd_id }}</span
                ></a
              >
            </div>

            <div class="col-md-4 col-sm-4">
              
              <p id="from" style="display: inline">
                Short Description: {{ data["Short Description"] }}
              </p>
            </div>
            <div class="col-md-4 col-sm-4">
              <p id="group">
                Detail Description: {{ data["Detail Description"] }}
              </p>
            </div>
          </div>

          <div class="row">
            

            <div class="col-md-4 col-sm-4">
             
              <p id="from">Call Type: {{ data["Call Type"] }}</p>
            </div>
            <div class="col-md-4 col-sm-4">
              
              <p id="from">Location: {{ data["Location"] }}</p>
            </div>
          </div>
        </div> -->
      </div>
    </div>
  </div>
  <div class="scroll p-2" *ngIf="showHRIncident">
    <div class="row" *ngFor="let data of incidentlistdata">
      <div class="col-md-12">
        <div
          class="card1 mt-2"
          *ngIf="data.Priority === 'High'"
          (click)="gotoincHRdetails(data.hrsd_id)"
        >
          <div class="row">
            <div class="col-md-4 col-sm-4">
              <!-- <p id="description">{{data.short_desc}}</p> -->
              <p id="description1">Service: {{ data.Item }}</p>
            </div>
            <div class="col-md-4 col-sm-4">
              <!-- <p id="description">{{data.short_desc}}</p> -->
              <p id="description1">
                Issue Description: {{ data["Issue Description"] }}
              </p>
            </div>
            <div class="col-md-4 col-sm-4">
              <!-- <p id="description">{{data.short_desc}}</p> -->
              <p id="description1">Status: {{ data["Status"] }}</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 col-sm-4">
              <a style="text-align: left">
                <span id="incid" class="la la-trash">
                  Ticket ID: {{ data.hrsd_id }}</span
                ></a
              >
            </div>

            <div class="col-md-4 col-sm-4">
              <!-- <p id="created">Created :{{data.createddate}}</p> -->
              <p id="from">Call Type: {{ data["Call Type"] }}</p>
            </div>
            <div class="col-md-4 col-sm-4">
              <p id="from">Department: {{ data.Department }}</p>
            </div>
          </div>

          <div class="row">
            <div class="col-md-4 col-sm-4">
              <p id="from">Assigned To: {{ data.assignto }}</p>
            </div>

            <div class="col-md-4 col-sm-4">
              <!-- <p id="created">Created :{{data.createddate}}</p> -->
            </div>
            <div class="col-md-4 col-sm-4">
              <!-- <p id="created">Created :{{data.createddate}}</p> -->
            </div>
          </div>
        </div>
        <div
          class="card2 mt-2"
          *ngIf="data.Priority === 'Medium'"
          (click)="gotoincHRdetails(data.hrsd_id)"
        >
          <div class="row">
            <div class="col-md-4 col-sm-4">
              <!-- <p id="description">{{data.short_desc}}</p> -->
              <p id="description1">Service: {{ data.Item }}</p>
            </div>
            <div class="col-md-4 col-sm-4">
              <!-- <p id="description">{{data.short_desc}}</p> -->
              <p id="description1">
                Issue Description: {{ data["Issue Description"] }}
              </p>
            </div>
            <div class="col-md-4 col-sm-4">
              <!-- <p id="description">{{data.short_desc}}</p> -->
              <p id="description1">Status: {{ data["Status"] }}</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 col-sm-4">
              <a style="text-align: left">
                <span id="incid" class="la la-trash">
                  Ticket ID: {{ data.hrsd_id }}</span
                ></a
              >
            </div>

            <div class="col-md-4 col-sm-4">
              <!-- <p id="created">Created :{{data.createddate}}</p> -->
              <p id="from">Call Type: {{ data["Call Type"] }}</p>
            </div>
            <div class="col-md-4 col-sm-4">
              <p id="from">Department: {{ data.Department }}</p>
            </div>
          </div>

          <div class="row">
            <div class="col-md-4 col-sm-4">
              <p id="from">Assigned To: {{ data.assignto }}</p>
            </div>

            <div class="col-md-4 col-sm-4">
              <!-- <p id="created">Created :{{data.createddate}}</p> -->
            </div>
            <div class="col-md-4 col-sm-4">
              <!-- <p id="created">Created :{{data.createddate}}</p> -->
            </div>
          </div>
        </div>
        <div
          class="card3 mt-2"
          *ngIf="data.Priority === 'Critical'"
          (click)="gotoincHRdetails(data.hrsd_id)"
        >
          <div class="row">
            <div class="col-md-4 col-sm-4">
              <!-- <p id="description">{{data.short_desc}}</p> -->
              <p id="description1">Service: {{ data.Item }}</p>
            </div>
            <div class="col-md-4 col-sm-4">
              <!-- <p id="description">{{data.short_desc}}</p> -->
              <p id="description1">
                Issue Description: {{ data["Issue Description"] }}
              </p>
            </div>
            <div class="col-md-4 col-sm-4">
              <!-- <p id="description">{{data.short_desc}}</p> -->
              <p id="description1">Status: {{ data["Status"] }}</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 col-sm-4">
              <a style="text-align: left">
                <span id="incid" class="la la-trash">
                  Ticket ID: {{ data.hrsd_id }}</span
                ></a
              >
            </div>

            <div class="col-md-4 col-sm-4">
              <!-- <p id="created">Created :{{data.createddate}}</p> -->
              <p id="from">Call Type: {{ data["Call Type"] }}</p>
            </div>
            <div class="col-md-4 col-sm-4">
              <p id="from">Department: {{ data.Department }}</p>
            </div>
          </div>

          <div class="row">
            <div class="col-md-4 col-sm-4">
              <p id="from">Assigned To: {{ data.assignto }}</p>
            </div>

            <div class="col-md-4 col-sm-4">
              <!-- <p id="created">Created :{{data.createddate}}</p> -->
            </div>
            <div class="col-md-4 col-sm-4">
              <!-- <p id="created">Created :{{data.createddate}}</p> -->
            </div>
          </div>
        </div>
        <div
          class="card mt-2"
          *ngIf="data.Priority === 'Low'"
          (click)="gotoincHRdetails(data.hrsd_id)"
        >
          <div class="row">
            <div class="col-md-4 col-sm-4">
              <!-- <p id="description">{{data.short_desc}}</p> -->
              <p id="description1">Service: {{ data.Item }}</p>
            </div>
            <div class="col-md-4 col-sm-4">
              <!-- <p id="description">{{data.short_desc}}</p> -->
              <p id="description1">
                Issue Description: {{ data["Issue Description"] }}
              </p>
            </div>
            <div class="col-md-4 col-sm-4">
              <!-- <p id="description">{{data.short_desc}}</p> -->
              <p id="description1">Status: {{ data["Status"] }}</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 col-sm-4">
              <a style="text-align: left">
                <span id="incid" class="la la-trash">
                  Ticket ID: {{ data.hrsd_id }}</span
                ></a
              >
            </div>

            <div class="col-md-4 col-sm-4">
              <!-- <p id="created">Created :{{data.createddate}}</p> -->
              <p id="from">Call Type: {{ data["Call Type"] }}</p>
            </div>
            <div class="col-md-4 col-sm-4">
              <p id="from">Department: {{ data.Department }}</p>
            </div>
          </div>

          <div class="row">
            <div class="col-md-4 col-sm-4">
              <p id="from">Assigned To: {{ data.assignto }}</p>
            </div>

            <div class="col-md-4 col-sm-4">
              <!-- <p id="created">Created :{{data.createddate}}</p> -->
            </div>
            <div class="col-md-4 col-sm-4">
              <!-- <p id="created">Created :{{data.createddate}}</p> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
