<div class="container-fluid">
  <div class="row py-5" style="background-color: darkgray">
    <div class="col-md-3"></div>
    <div class="col-md-8">
      <div class="row" style="border-width: 2 px; width: 70%">
        <div class="card shadow">
          <div class="text-center">
            <h1
              style="
                font-weight: 800;
                font-family: 'Gill Sans', 'Gill Sans MT', Calibri,
                  'Trebuchet MS', sans-serif;
                color: blueviolet;
              "
            >
              <u>Scan QR Code</u>
            </h1>
          </div>

          <div class="row py-4">
            <div class="col-md-3"></div>
            <div class="col-md-6">
              <div>
                <qrcode
                [qrdata]="urlLink"
                  [width]="300"
                  [errorCorrectionLevel]="'M'"
                  style="border-block: 1 px solid"
                ></qrcode>
              </div>
              <div *ngIf="showThisQR1">
                <qrcode
                  qrdata="stringQrCode1"
                  [width]="300"
                  [errorCorrectionLevel]="'M'"
                  style="border-block: 1 px solid"             
                ></qrcode>
              </div>
            </div>
            <div class="col-md-3"></div>
          </div>

          <br />
        </div>
      </div>
    </div>
    <div class="col-md-1"></div>
  </div>
</div>
