<section>
    <div class="container"  style="width:800px;height: 600px;">
        <form [formGroup]="dynamicForm">
            
            <!-- <mat-icon>close</mat-icon> -->
            <div class="row card p-3">
                <div class="row">
                    <div class="model">

                        <button  mat-icon-button class="close-button" (click)="closeDialog(false)" aria-label="Close" ><mat-icon class="float-right">close</mat-icon></button>
                    </div>
                    <h2 ></h2>

                </div>
            <hr>
          
             <div class="row">
                    <div class="col-md-6 px-2 py-1" *ngFor="let field of nosubform;">
                        <mat-form-field class="d-grid gap-2" appearance="outline">
                            <mat-label>{{field?.column_label}}</mat-label>
                            <input *ngIf="(field.type != 'dropdown')?(field.type!='assigndropdown'):false" matInput formControlName="{{field.column_label}}" type="{{ field?.type }}">
                            <mat-select formControlName="{{field.column_label}}" *ngIf="(field.type == 'dropdown')?true:(field.type == 'assigndropdown')?true:false">
                                <mat-option>Select Column name</mat-option>
                                <mat-option [value]=options.id *ngFor="let options of field.column_value">{{options.value | titlecase}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
             
        </div>
        <div class="row card p-3 mt-2" *ngIf="subformdata.length!=0">
            <h2 >{{subformdata[0].module_title}}</h2>
            <hr>
                <div class="row">
                    <div class="col-md-6 px-2 py-1" *ngFor="let field of subformdata;">
                        <mat-form-field class="d-grid gap-2" appearance="outline">
                            <mat-label>{{field?.column_label}}</mat-label>
                            <input *ngIf="(field.type != 'dropdown')?(field.type!='assigndropdown'):false" matInput formControlName="{{field.column_label}}" type="{{ field?.type }}">
                            <mat-select formControlName="{{field.column_label}}" *ngIf="(field.type == 'dropdown')?true:(field.type == 'assigndropdown')?true:false">
                                <mat-option>Select Column name</mat-option>
                                <mat-option [value]=options.id *ngFor="let options of field.column_value">{{options.value | titlecase}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
           
            
        </div>
        <div class="footer row mt-2">
            <div class="text-center">
                <button class="me-2" mat-raised-button type="submit" [disabled]="!dynamicForm.valid"  color="secondary">Cancel</button>
                <button mat-raised-button type="submit" [disabled]="!dynamicForm.valid" color="primary">Create</button>            </div>
        </div>
    </form>

    </div>
</section>