.rounded-input {
    border-radius: 6px;
    padding: 8px; 
}

.mat-badge-medium.mat-badge-after .mat-badge-content {
  right: -10px;
}

.mat-badge-medium.mat-badge-above .mat-badge-content {
  top: 0px;
}

.mat-badge-warn .mat-badge-content {
  color: #f44336;
  background: #ffffff;
  font-size: 14px;
}

.mat-badge-medium .mat-badge-content {
  width: 7px;
  height: 7px;
  line-height: 9px;
}

.mdc-linear-progress{
  top: -7px;
}

.mat-mdc-header-row {
  background: #3f51b5;
}

th {
  color: white !important;
}