<section>
    <div class="container-fluid">
        <div class="row">
            <div class="d-flex align-items-center">
                <button mat-flat-button [routerLink]="['/admin/approvalFlow']" color="warn" class="me-2"><mat-icon style="float: left;">keyboard_return</mat-icon> Back</button>
                <h1 class="mt-3">Below approvers at corresponding levels will approve the records added in the form <b class="text-primary">"{{approvalListDetailsData?.form_name}}"</b></h1>
            </div>
            <div class="col-12" *ngFor="let data of approverListDetailsData; let i = index">
                <div class="d-flex align-items-center">
                    <button mat-stroked-button class="me-2 btnToggle" color="primary" (click)="toggleLevel(i)">
                        <mat-icon *ngIf="!levelStates[i]">add</mat-icon>
                        <mat-icon *ngIf="levelStates[i]">remove</mat-icon>
                    </button>
                    <h3 class="mb-0 text-primary">Level {{data.level}} approver "{{data.name}}"</h3>
                </div>
                <div *ngIf="levelStates[i]">
                    <div class="row mt-4">
                        <div class="col-12">
                        <div class="ms-4 d-flex align-items-center">
                            <button mat-stroked-button class="me-2 btnToggle" color="primary" (click)="toggleApprove(i)">
                                <mat-icon *ngIf="!levelApprove[i]">add</mat-icon>
                                <mat-icon *ngIf="levelApprove[i]">remove</mat-icon>
                            </button> 
                            <h4 class="m-0">Approve 
                                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="#3f51b5" class="bi bi-check-circle" viewBox="0 0 16 16">
                                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                    <path d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z"/>
                                </svg>
                            </h4>
                        </div>
                        </div>   
                    </div>
                    <div class="row mt-2" *ngIf="levelApprove[i]">
                        <div class="col-7">
                            <div class="card ms-5 p-3 shadow-sm">
                                <div class="d-flex align-items-center">
                                    <p class="mb-0 ms-4">Send mail to <span class="text-primary">"{{varEmail}}"</span></p>
                                    <span class="spacer"></span>
                                    <button mat-raised-button color="primary" class="me-2" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight"
                                    (click)="openEdit(data, 5001)"><mat-icon>edit</mat-icon></button>
                                    <!-- <button mat-raised-button color="warn"><mat-icon>delete</mat-icon></button> -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-4">   
                        <div class="col-12">
                            <div class="ms-4 d-flex align-items-center">
                                <button mat-stroked-button class="me-2 btnToggle" color="primary" (click)="toggleReject(i)">
                                    <mat-icon *ngIf="!levelReject[i]">add</mat-icon>
                                    <mat-icon *ngIf="levelReject[i]">remove</mat-icon>
                                </button> 
                                <h4 class="m-0">Reject 
                                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="#f44336" class="bi bi-x-circle" viewBox="0 0 16 16">
                                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                        <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                                    </svg>
                                </h4>
                            </div>
                        </div>   
                    </div>
                    <div class="row mt-2" *ngIf="levelReject[i]">
                        <div class="col-7">
                            <div class="card ms-5 p-3 shadow-sm">
                            <div class="d-flex align-items-center">
                                <p class="mb-0 ms-4">Send mail to <span class="text-primary">"{{varEmail}}"</span></p>
                                <span class="spacer"></span>
                                <button mat-raised-button color="primary" class="me-2" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight" 
                                (click)="openEdit(data, 5002)"><mat-icon>edit</mat-icon></button>
                                <!-- <button mat-raised-button color="warn"><mat-icon>delete</mat-icon></button> -->
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
            </div>
        </div>
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
            <div class="offcanvas-header border-bottom">
              <h2 id="offcanvasRightLabel" class="mx-auto text-primary">Send Mail</h2>
              <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close" (click)="cancelForm()"></button>
            </div>
            <div class="offcanvas-body">
                <form [formGroup]="form" (ngSubmit)="addResponse()">
                    <div class="row">
                        <div class="col-12">
                            <label class="label">From <span class="text-warn">*</span></label>
                            <input class="form-control" formControlName="mailby" [ngClass]="{ 'error-border': form.get('mailby').hasError('required') && form.get('mailby').touched }" readonly>
                            <div *ngIf="form.get('mailby').hasError('required') && form.get('mailby').touched" class="text-danger">
                                From is required.
                            </div>
                        </div>
                        <div class="col-12 mt-3">
                            <label class="label">To <span class="text-warn">*</span></label>
                            <input class="form-control" formControlName="mailto" [ngClass]="{ 'error-border': form.get('mailto').hasError('required') && form.get('mailto').touched }" readonly>
                            <div *ngIf="form.get('mailto').hasError('required') && form.get('mailto').touched" class="text-danger">
                                To is required.
                            </div>
                        </div>
                        <div class="col-12 mt-3">
                            <label class="label">CC</label>
                            <input class="form-control" formControlName="cc" [ngClass]="{ 'error-border': form.get('cc').hasError('email') }">
                            <div *ngIf="form.get('cc').hasError('email')" class="text-danger">
                                CC must be a valid email address.
                            </div>
                        </div>
                        <div class="col-12 mt-3">
                            <label class="label">Subject</label>
                            <input class="form-control" formControlName="subject">
                        </div>
                        <div class="col-12 mt-3">
                            <label class="label">Body</label>
                            <div class="card d-grid">
                                <ngx-editor-menu class="card" [editor]="mailContent" [toolbar]="toolbar"> </ngx-editor-menu>
                                <ngx-editor [editor]="mailContent" formControlName="body"> </ngx-editor>
                            </div>
                            <div *ngIf="form.get('body').hasError('required') && form.get('body').touched" class="text-danger">
                                To is required.
                            </div>
                        </div>
                        <div class="col-12 mt-4 d-flex align-content-end align-items-center">
                            <button type="submit" class="me-2" mat-raised-button color="primary" [disabled]="!form.valid">Update</button>
                            <button mat-stroked-button color="primary" data-bs-dismiss="offcanvas" aria-label="Close" (click)="cancelForm()">Cancel</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>