<!-- <section>
    <div class="container-fluid">
        <div class="row">
          <div class="col-md-1">
            <button type="button" class="btn btn-danger" onclick="history.back()"><mat-icon style="float: left;">keyboard_return</mat-icon> </button>
        </div>
            <div class="col-md-5">
              <div class="searchBar d-flex justify-content-center align-items-center">
                <span class="material-symbols-sharp">search</span><input class="form-control" type="search" #input placeholder="Enter search query..." (keyup)="applyFilter($event)">
              </div>
            </div>
            <div class="col-md-6 text-end">
            </div>
        </div>
        <div class="row my-2">
            <div class="card p-2 shadow">
                <div class="table-hight">
                    <table mat-table [dataSource]="dataSource" tabindex="0">
                        <ng-container matColumnDef="Sr">
                          <th mat-header-cell *matHeaderCellDef> Sr. No. </th>
                          <td mat-cell *matCellDef="let element"> {{element.fmls_id}} </td>
                        </ng-container>
                        <ng-container matColumnDef="Module">
                          <th mat-header-cell *matHeaderCellDef> Module Name </th>
                          <td mat-cell *matCellDef="let element"> {{element.Module}} </td>
                        </ng-container>
                        <ng-container matColumnDef="Link">   
                          <th mat-header-cell *matHeaderCellDef> Link </th>
                          <td mat-cell *matCellDef="let element" type="checkbox"> {{element.Link}} </td>
                        </ng-container>
                        <ng-container matColumnDef="Create">
                          <th mat-header-cell *matHeaderCellDef> Create </th>
                          <td mat-cell *matCellDef="let element" type="checkbox"> {{element.Create}} </td>
                        </ng-container>
                        <ng-container matColumnDef="Update">
                          <th mat-header-cell *matHeaderCellDef type="checkbox"> Update </th>
                          <td mat-cell *matCellDef="let element"> {{element.Update }} </td>
                        </ng-container>
                        <ng-container matColumnDef="Delete">
                          <th mat-header-cell *matHeaderCellDef type="checkbox"> Delete </th>
                          <td mat-cell *matCellDef="let element"> {{element.Delete }} </td>
                        </ng-container>
                        <ng-container matColumnDef="action">
                          <th mat-header-cell *matHeaderCellDef> Action </th>
                          <td mat-cell *matCellDef="let element">
                            <button title="Update Role" mat-mini-fab color="primary" [routerLink]="['']"><mat-icon>sync_problem</mat-icon></button>
                        </td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        <tr class="mat-row" *matNoDataRow>
                            <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
                        </tr>
                    </table>
                </div>
                <mat-paginator [pageSizeOptions]=pagination showFirstLastButtons aria-label="Select page of periodic elements"> </mat-paginator>
            </div>
        </div>
    </div>
</section>
<router-outlet></router-outlet>
   -->



   <div mat-dialog-content>
    <div class="container mt-3">
      <div class="row">
        <div class="card p-3" style="background-color: white; border-bottom: 3px solid rgb(66, 66, 201);">
            <h2 class="label">Update Role</h2>
          <div class="card-body">
            <form [formGroup]="form" (ngSubmit)="onSubmit()">
              <div class="form-group">
                <mat-form-field class="col-md-12" appearance="outline">
                  <mat-label class="label">Role Name</mat-label>
                <input matInput class="label" id="column_value" formControlName="column_value" [(ngModel)]="roleName" autocomplete="off" required [ngClass]="{ 'is-invalid': submitted && f.column_value.errors}">
                <div *ngIf="submitted && f.column_value.errors" class="invalid-feedback">
                  <div *ngIf="f.column_value.errors.required" class="label">
                    Role name is required.
                  </div>
                </div>
              </mat-form-field>
             
              </div>
              <!-- <div class="form-group ">
                <mat-form-field class=" col-md-12">
                  <mat-label>Role Details</mat-label>
                  <textarea matInput id="description" formControlName="description" required></textarea>
                </mat-form-field>
              </div> -->
              <br>
              <div mat-dialog-actions class="float-end">
                <button class="btn btn-secondary me-2 label" onclick="history.back()">Cancel</button>
                <button type="submit" [disabled]="form.invalid" class="btn btn-primary label">Update</button>
              </div>
            </form>
          </div>

        </div>
      </div>
    </div>
  </div>


<router-outlet></router-outlet>