<section *ngIf="showform">
    <div class="container">
        <form [formGroup]="dynamicForm">
        <div class="row card p-3">
            <h2 >Create Config Item</h2>
            <hr>
          
             <div class="row">
                <div class="col-md-6 px-2 py-1">
                    <mat-form-field class="d-grid gap-2" appearance="outline">
                        <mat-label>Asset Name</mat-label>
                        <mat-select formControlName="astd_id" >
                            <mat-option>Select Column name</mat-option>
                            <mat-option [value]="item.astd_id" *ngFor="let item of itemlistdata" >
                                {{item['Asset Name']}}</mat-option>
                        </mat-select>
              <!-- <mat-icon matSuffix *ngIf="item.type =='dropdown' || item.type == 'assigndropdown'" (click)="$event.stopPropagation(); addField(item)">add_circle</mat-icon> -->
                    </mat-form-field>
                </div>
                <div class="col-md-6 px-2 py-1" *ngFor="let field of formFields;">
                    <mat-form-field class="d-grid gap-2" appearance="outline">
                        <mat-label>{{field?.column_label}}</mat-label>
                        <input *ngIf="field.type != 'dropdown'" matInput formControlName="{{field.column_label}}" type="{{ field?.type }}">
                        <mat-select formControlName="{{field.column_label}}" *ngIf="field.type == 'dropdown'">
                            <mat-option>Select Column name</mat-option>
                            <mat-option [value]=options.id *ngFor="let options of field.column_value">{{options.value | titlecase}}</mat-option>
                        </mat-select>
              <mat-icon matSuffix *ngIf="field.type =='dropdown' || field.type == 'assigndropdown'" (click)="$event.stopPropagation(); addField(field)">add_circle</mat-icon>
                    </mat-form-field>
                </div>
              
                </div>
             
        </div>
        
        <div class="footer row mt-2 bg-light">
            <div class="text-center">

                <button class="me-2" mat-raised-button type="submit"  color="secondary" onclick="history.back()">Cancel</button>
                <button mat-raised-button type="submit" [disabled]="!dynamicForm.valid" color="primary" (click)="submitForm()">Create CI</button>
            </div>
        </div>
        <br>
    </form>

    </div>
</section>
<router-outlet></router-outlet>