<div class="container">
  <nav mat-tab-nav-bar [backgroundColor]="background">
    <a
      mat-tab-link
      *ngFor="let link of links"
      (click)="getActiveLinkStatus((activeLink = link.status))"
      [active]="activeLink == link.status"
    >
      <p class="label">{{ link.value }}</p>
    </a>
    <mat-icon (click)="toggleBackground()">swap_horiz</mat-icon>
  </nav>

  <div class="row mt-3">
    <div class="col-md-6 mt-2">
      <div class="search-box">
        <input
          class="search-input"
          type="text"
          placeholder="Search something.."
          [(ngModel)]="searchTerm"
          (keyup)="applyFilter()"
        />
      </div>
    </div>
    <div class="col-md-2">
      <mat-form-field style="height: 70px; width: 165px">
        <mat-label class="label">Select Filter</mat-label>
        <mat-select class="label" matInput [(ngModel)]="filterData1">
          <mat-option
            class="label"
            *ngFor="let ft of filterData"
            [value]="ft.value"
            (click)="getFilterList(ft.value)"
          >
            {{ ft.id }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-md-2">
      <!-- <mat-form-field class="col-12">
        <input matInput [(ngModel)]="type"/>
      </mat-form-field>
    -->
      <mat-form-field style="height: 70px; width: 165px" *ngIf="showStatusFilter">
        <mat-label class="label">Select Status</mat-label>
        <mat-select class="label" matInput [(ngModel)]="statusData">
          <mat-option
            class="label"
            *ngFor="let st of status"
            [value]="st.value"
            (click)="getStatusWiseTicketData(st.value)"
          >
            {{ st.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-md-2 mt-1">
      <button
        class="btn btn-primary float-right label"
        style="align-items: end"
        [routerLink]="['create-tickets']"
      >
        <mat-icon style="float: left">add</mat-icon> &nbsp;Create New
      </button>
    </div>
    <form [formGroup]="form5" *ngIf="show">
      <div class="row">
        
        <div class="col-md-3" style="height: 70px; width: 165px">
          <label class="label"><strong>Start Date</strong></label>
          <input 
            type="date"
            class="form-control label"
            formControlName="sDate"
          />
         
        </div>
        <div class="col-md-2" style="height: 70px; width: 165px"> 
          <label class="label"><strong class="label">End Date</strong></label>
          <input
            type="date"
            class="form-control label"
            formControlName="eDate"
          />
        </div>
        <div class="col-md-2">
          <button
            (click)="onSubmit()"
            style="margin-top: 20px"
            [disabled]="form5?.invalid"
            class="btn btn-primary float-start label"
          >
            Submit
          </button>
        </div>
        <div class="col-md-3"></div>
      </div>
    </form>
  </div>
   

  <div class="scroll p-2 mt-1" *ngIf="showIncident">
    <div class="row" *ngFor="let data of incidentlistdata">
      <div class="col-md-12">
        <div
          class="card1 mt-2"
          *ngIf="data.Priority === 'High'"
          (click)="
            userRole == 'Accountant'
              ? $event.stopPropagation()
              : gotoincdetails(data.inid_id)
          "
        >
          <div class="row">
            <div class="col-md-4 col-sm-4">
              <!-- <p id="description">{{data.short_desc}}</p> -->
              <p class="label">Item: {{ data["Item"] }}</p>
            </div>
            <div class="col-md-4 col-sm-4">
              <p class="label">Category: {{ data["Category"] }}</p>
            </div>
            <div class="col-md-4 col-sm-4">
              <p class="label">
                Issue Description: {{ data["Issue Description"] }}
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 col-sm-4">
              <a style="text-align: left">
                <span class="label" class="la la-trash">
                  Ticket ID: {{ data.inid_id }}</span
                ></a
              >
            </div>
            <div class="col-md-4 col-sm-4">
              <p class="label">Call Mode: {{ data["Call Mode"] }}</p>
            </div>
            <div class="col-md-4 col-sm-4">
              <p class="label">Call Type: {{ data["Call Type"] }}</p>
            </div>
          </div>

          <div class="row">
            <div class="col-md-4 col-sm-4">
              <p class="label">Last Updated: {{ data["Last Updated"] }}</p>
            </div>

            <div class="col-md-4 col-sm-4">
              <p class="label">Assign To: {{ data.assignto }}</p>
            </div>
            <div class="col-md-4 col-sm-4">
              <p class="label">Status: {{ data.Status }}</p>
            </div>
          </div>

          <!--  
                       <div class="row">
                        <div class="col-md-5 col-sm-5">
                          <p id="assignedto">Issue Description:</p>
                          
                         </div>
     
                         <div class="col-md-4 col-sm-2">
                          <p id="assignedto1">{{data['Issue Description']}}</p>
                                        
                         </div>
                       </div> -->
        </div>
        <div
          class="card2 mt-2"
          *ngIf="data.Priority === 'Medium'"
          (click)="
            userRole == 'Accountant'
              ? $event.stopPropagation()
              : gotoincdetails(data.inid_id)
          "
        >
          <div class="row">
            <div class="col-md-4 col-sm-4">
              <!-- <p id="description">{{data.short_desc}}</p> -->
              <p class="label">Item: {{ data["Item"] }}</p>
            </div>
            <div class="col-md-4 col-sm-4">
              <p class="label">Category: {{ data.Category }}</p>
            </div>
            <div class="col-md-4 col-sm-4">
              <p class="label">
                Issue Description: {{ data["Issue Description"] }}
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 col-sm-4">
              <a style="text-align: left">
                <span class="label" class="la la-trash">
                  Ticket ID: {{ data.inid_id }}</span
                ></a
              >
            </div>
            <div class="col-md-4 col-sm-4">
              <p class="label">Call Mode: {{ data["Call Mode"] }}</p>
            </div>
            <div class="col-md-4 col-sm-4">
              <p class="label">Call Type: {{ data["Call Type"] }}</p>
            </div>
          </div>

          <div class="row">
            <div class="col-md-4 col-sm-4">
              <p class="label">Last Updated: {{ data["Last Updated"] }}</p>
            </div>

            <div class="col-md-4 col-sm-4">
              <p class="label">Assign To: {{ data.assignto }}</p>
            </div>
            <div class="col-md-4 col-sm-4">
              <p class="label">Status: {{ data.Status }}</p>
            </div>
          </div>

          <!--  
                    <div class="row">
                     <div class="col-md-5 col-sm-5">
                       <p id="assignedto">Issue Description:</p>
                       
                      </div>
  
                      <div class="col-md-4 col-sm-2">
                       <p id="assignedto1">{{data['Issue Description']}}</p>
                                     
                      </div>
                    </div> -->
        </div>
        <div
          class="card3 mt-2"
          *ngIf="data.Priority === 'Critical'"
          (click)="
            userRole == 'Accountant'
              ? $event.stopPropagation()
              : gotoincdetails(data.inid_id)
          "
        >
          <div class="row">
            <div class="col-md-4 col-sm-4">
              <!-- <p id="description">{{data.short_desc}}</p> -->
              <p class="label">Item: {{ data.Item }}</p>
            </div>
            <div class="col-md-4 col-sm-4">
              <p class="label">Category: {{ data.Category }}</p>
            </div>
            <div class="col-md-4 col-sm-4">
              <p class="label">
                Issue Description: {{ data["Issue Description"] }}
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 col-sm-4">
              <a style="text-align: left">
                <span class="label" class="la la-trash">
                  Ticket ID: {{ data.inid_id }}</span
                ></a
              >
            </div>
            <div class="col-md-4 col-sm-4">
              <p class="label">Call Mode: {{ data["Call Mode"] }}</p>
            </div>
            <div class="col-md-4 col-sm-4">
              <p class="label">Call Type: {{ data["Call Type"] }}</p>
            </div>
          </div>

          <div class="row">
            <div class="col-md-4 col-sm-4">
              <p class="label">Last Updated: {{ data["Last Updated"] }}</p>
            </div>

            <div class="col-md-4 col-sm-4">
              <p class="label">Assign To: {{ data.assignto }}</p>
            </div>
            <div class="col-md-4 col-sm-4">
              <p class="label">Status: {{ data.Status }}</p>
            </div>
          </div>
        </div>
        <div
          class="card mt-2"
          *ngIf="data.Priority === 'Low'"
          (click)="
            userRole == 'Accountant'
              ? $event.stopPropagation()
              : gotoincdetails(data.inid_id)
          "
        >
          <div class="row">
            <div class="col-md-4 col-sm-4">
              <!-- <p id="description">{{data.short_desc}}</p> -->
              <p class="label">Item: {{ data.Item }}</p>
            </div>
            <div class="col-md-4 col-sm-4">
              <p class="label">Category: {{ data.Category }}</p>
            </div>
            <div class="col-md-4 col-sm-4">
              <p class="label">
                Issue Description: {{ data["Issue Description"] }}
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 col-sm-4">
              <a style="text-align: left">
                <span class="label" class="la la-trash">
                  Ticket ID: {{ data.inid_id }}</span
                ></a
              >
            </div>
            <div class="col-md-4 col-sm-4">
              <p class="label">Call Mode: {{ data["Call Mode"] }}</p>
            </div>
            <div class="col-md-4 col-sm-4">
              <p class="label">Call Type: {{ data["Call Type"] }}</p>
            </div>
          </div>

          <div class="row">
            <div class="col-md-4 col-sm-4">
              <p class="label">Last Updated: {{ data["Last Updated"] }}</p>
            </div>

            <div class="col-md-4 col-sm-4">
              <p class="label">Assign To: {{ data.assignto }}</p>
            </div>
            <div class="col-md-4 col-sm-4">
              <p class="label">Status: {{ data.Status }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="scroll p-2" *ngIf="showHousekeepingIncident">
    <div class="row" *ngFor="let data of incidentlistdata">
      <div class="col-md-12">
        <div
          class="card1 mt-2 m-fs m-d-flex m-graph"
          (click)="gotoincHouseKeepingdetails(data.hksd_id)"
        >
          <div class="row">
            <div class="col-md-4 col-sm-4">
              <!-- <p id="description">{{data.short_desc}}</p> -->
              <p class="label">Item: {{ data.Item }}</p>
            </div>
            <div class="col-md-4 col-sm-4">
              <!-- <p id="description">{{data.short_desc}}</p> -->
              <p class="label">Location: {{ data.Location }}</p>
            </div>
            <div class="col-md-4 col-sm-4">
              <!-- <p id="description">{{data.short_desc}}</p> -->
              <p class="label">Status: {{ data["Status"] }}</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 col-sm-4">
              <a style="text-align: left">
                <span class="label" class="la la-trash">
                  Ticket ID: {{ data.hksd_id }}</span
                ></a
              >
            </div>

            <div class="col-md-4 col-sm-4">
              <!-- <p class="label">Created :{{data.createddate}}</p> -->
              <p class="label" style="display: inline">
                Guest Name: {{ data["Guest Name"] }}
              </p>
            </div>
            <div class="col-md-4 col-sm-4">
              <p class="label">Mobile Number: {{ data["Mobile Number"] }}</p>
            </div>
          </div>

          <div class="row">
            <!-- <div class="col-md-4 col-sm-4">
                     
                      <p class="label">Call Mode: {{data['Call Mode']}}</p>
                    </div> -->

            <div class="col-md-4 col-sm-4">
              <!-- <p class="label">Created :{{data.createddate}}</p> -->
              <p class="label">Call Type: {{ data["Call Type"] }}</p>
            </div>
            <div class="col-md-4 col-sm-4">
              <p class="label">
                Issue Description: {{ data["Issue Description"] }}
              </p>
            </div>
          </div>
        </div>
        <!-- <div class="card2 mt-2 m-fs m-d-flex m-graph" *ngIf="data.Priority === 'Medium'">
          <div class="row">
            <div class="col-md-4 col-sm-4">          
              <p class="label">Asset Group: {{ data["Asset Group"] }}</p>
            </div>
            <div class="col-md-4 col-sm-4">          
              <p class="label">
                Issue Description: {{ data["Issue Description"] }}
              </p>
            </div>
            <div class="col-md-4 col-sm-4">
             
              <p class="label">Status: {{ data["Status"] }}</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 col-sm-4">
              <a style="text-align: left">
                <span class="label" class="la la-trash">
                  {{ data.hksd_id }}</span
                ></a
              >
            </div>

            <div class="col-md-4 col-sm-4">
            
              <p class="label" style="display: inline">
                Short Description: {{ data["Short Description"] }}
              </p>
            </div>
            <div class="col-md-4 col-sm-4">
              <p class="label">
                Detail Description: {{ data["Detail Description"] }}
              </p>
            </div>
          </div>

          <div class="row">
           
            <div class="col-md-4 col-sm-4">
              
              <p class="label">Call Type: {{ data["Call Type"] }}</p>
            </div>
            <div class="col-md-4 col-sm-4">
              
              <p class="label">Location: {{ data["Location"] }}</p>
            </div>
          </div>
        </div>
        <div class="card3 mt-2 m-fs m-d-flex m-graph" *ngIf="data.Priority === 'Critical'">
          <div class="row">
            <div class="col-md-4 col-sm-4">
            
              <p class="label">Asset Group: {{ data["Asset Group"] }}</p>
            </div>
            <div class="col-md-4 col-sm-4">
             
              <p class="label">
                Issue Description: {{ data["Issue Description"] }}
              </p>
            </div>
            <div class="col-md-4 col-sm-4">
             
              <p class="label">Status: {{ data["Status"] }}</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 col-sm-4">
              <a style="text-align: left">
                <span class="label" class="la la-trash">
                  {{ data.hksd_id }}</span
                ></a
              >
            </div>

            <div class="col-md-4 col-sm-4">
             
              <p class="label" style="display: inline">
                Short Description: {{ data["Short Description"] }}
              </p>
            </div>
            <div class="col-md-4 col-sm-4">
              <p class="label">
                Detail Description: {{ data["Detail Description"] }}
              </p>
            </div>
          </div>

          <div class="row">
            

            <div class="col-md-4 col-sm-4">
             
              <p class="label">Call Type: {{ data["Call Type"] }}</p>
            </div>
            <div class="col-md-4 col-sm-4">
             
              <p class="label">Location: {{ data["Location"] }}</p>
            </div>
          </div>
        </div>
        <div class="card mt-2 m-fs m-d-flex m-graph" *ngIf="data.Priority === 'Low'">
          <div class="row">
            <div class="col-md-4 col-sm-4">
              
              <p class="label">Asset Group: {{ data["Asset Group"] }}</p>
            </div>
            <div class="col-md-4 col-sm-4">
              
              <p class="label">
                Issue Description: {{ data["Issue Description"] }}
              </p>
            </div>
            <div class="col-md-4 col-sm-4">
             
              <p class="label">Status: {{ data["Status"] }}</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 col-sm-4">
              <a style="text-align: left">
                <span class="label" class="la la-trash">
                  {{ data.hksd_id }}</span
                ></a
              >
            </div>

            <div class="col-md-4 col-sm-4">
              
              <p class="label" style="display: inline">
                Short Description: {{ data["Short Description"] }}
              </p>
            </div>
            <div class="col-md-4 col-sm-4">
              <p class="label">
                Detail Description: {{ data["Detail Description"] }}
              </p>
            </div>
          </div>

          <div class="row">
            

            <div class="col-md-4 col-sm-4">
             
              <p class="label">Call Type: {{ data["Call Type"] }}</p>
            </div>
            <div class="col-md-4 col-sm-4">
              
              <p class="label">Location: {{ data["Location"] }}</p>
            </div>
          </div>
        </div> -->
      </div>
    </div>
  </div>
  <div class="scroll p-2 mt-2" *ngIf="showHRIncident">
    <div class="row" *ngFor="let data of incidentlistdata">
      <div class="col-md-12">
        <div
          class="card1 mt-2"
          *ngIf="data.Priority === 'High'"
          (click)="
            type == 1
              ? $event.stopPropagation()
              : gotoincHRdetails(data.hrsd_id)
          "
        >
          <div class="row">
            <div class="col-md-4 col-sm-4">
              <!-- <p id="description">{{data.short_desc}}</p> -->
              <p class="label">Service: {{ data.Item }}</p>
            </div>
            <div class="col-md-4 col-sm-4">
              <!-- <p id="description">{{data.short_desc}}</p> -->
              <p class="label">
                Issue Description: {{ data["Issue Description"] }}
              </p>
            </div>
            <div class="col-md-4 col-sm-4">
              <!-- <p id="description">{{data.short_desc}}</p> -->
              <p class="label">Status: {{ data["Status"] }}</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 col-sm-4">
              <a style="text-align: left">
                <span class="label" class="la la-trash">
                  Ticket ID: {{ data.hrsd_id }}</span
                ></a
              >
            </div>

            <div class="col-md-4 col-sm-4">
              <p class="label">Call Type: {{ data["Call Type"] }}</p>
            </div>
            <div class="col-md-4 col-sm-4">
              <p class="label">Department: {{ data.Department }}</p>
            </div>
          </div>

          <div class="row">
            <div class="col-md-4 col-sm-4">
              <p class="label">Assign To: {{ data.assignto }}</p>
            </div>

            <div class="col-md-4 col-sm-4">
              <!-- <p class="label">Created :{{data.createddate}}</p> -->
            </div>
            <div class="col-md-4 col-sm-4">
              <!-- <p class="label">Created :{{data.createddate}}</p> -->
            </div>
          </div>
        </div>
        <div
          class="card2 mt-2"
          *ngIf="data.Priority === 'Medium'"
          (click)="
            type == 1
              ? $event.stopPropagation()
              : gotoincHRdetails(data.hrsd_id)
          "
        >
          <div class="row">
            <div class="col-md-4 col-sm-4">
              <!-- <p id="description">{{data.short_desc}}</p> -->
              <p class="label">Service: {{ data.Item }}</p>
            </div>
            <div class="col-md-4 col-sm-4">
              <!-- <p id="description">{{data.short_desc}}</p> -->
              <p class="label">
                Issue Description: {{ data["Issue Description"] }}
              </p>
            </div>
            <div class="col-md-4 col-sm-4">
              <!-- <p id="description">{{data.short_desc}}</p> -->
              <p class="label">Status: {{ data["Status"] }}</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 col-sm-4">
              <a style="text-align: left">
                <span class="label" class="la la-trash">
                  Ticket ID: {{ data.hrsd_id }}</span
                ></a
              >
            </div>

            <div class="col-md-4 col-sm-4">
              <p class="label">Call Type: {{ data["Call Type"] }}</p>
            </div>
            <div class="col-md-4 col-sm-4">
              <p class="label">Department: {{ data.Department }}</p>
            </div>
          </div>

          <div class="row">
            <div class="col-md-4 col-sm-4">
              <p class="label">Assign To: {{ data.assignto }}</p>
            </div>

            <div class="col-md-4 col-sm-4">
              <!-- <p class="label">Created :{{data.createddate}}</p> -->
            </div>
            <div class="col-md-4 col-sm-4">
              <!-- <p class="label">Created :{{data.createddate}}</p> -->
            </div>
          </div>
        </div>
        <div
          class="card3 mt-2"
          *ngIf="data.Priority === 'Critical'"
          (click)="
            type == 1
              ? $event.stopPropagation()
              : gotoincHRdetails(data.hrsd_id)
          "
        >
          <div class="row">
            <div class="col-md-4 col-sm-4">
              <!-- <p id="description">{{data.short_desc}}</p> -->
              <p class="label">Service: {{ data.Item }}</p>
            </div>
            <div class="col-md-4 col-sm-4">
              <!-- <p id="description">{{data.short_desc}}</p> -->
              <p class="label">
                Issue Description: {{ data["Issue Description"] }}
              </p>
            </div>
            <div class="col-md-4 col-sm-4">
              <!-- <p id="description">{{data.short_desc}}</p> -->
              <p class="label">Status: {{ data["Status"] }}</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 col-sm-4">
              <a style="text-align: left">
                <span class="label" class="la la-trash">
                  Ticket ID: {{ data.hrsd_id }}</span
                ></a
              >
            </div>

            <div class="col-md-4 col-sm-4">
              <!-- <p class="label">Created :{{data.createddate}}</p> -->
              <p class="label">Call Type: {{ data["Call Type"] }}</p>
            </div>
            <div class="col-md-4 col-sm-4">
              <p class="label">Department: {{ data.Department }}</p>
            </div>
          </div>

          <div class="row">
            <div class="col-md-4 col-sm-4">
              <p class="label">Assign To: {{ data.assignto }}</p>
            </div>

            <div class="col-md-4 col-sm-4">
              <!-- <p class="label">Created :{{data.createddate}}</p> -->
            </div>
            <div class="col-md-4 col-sm-4">
              <!-- <p class="label">Created :{{data.createddate}}</p> -->
            </div>
          </div>
        </div>
        <div
          class="card mt-2"
          *ngIf="data.Priority === 'Low'"
          (click)="
            type == 1
              ? $event.stopPropagation()
              : gotoincHRdetails(data.hrsd_id)
          "
        >
          <div class="row">
            <div class="col-md-4 col-sm-4">
              <!-- <p id="description">{{data.short_desc}}</p> -->
              <p class="label">Service: {{ data.Item }}</p>
            </div>
            <div class="col-md-4 col-sm-4">
              <!-- <p id="description">{{data.short_desc}}</p> -->
              <p class="label">
                Issue Description: {{ data["Issue Description"] }}
              </p>
            </div>
            <div class="col-md-4 col-sm-4">
              <!-- <p id="description">{{data.short_desc}}</p> -->
              <p class="label">Status: {{ data["Status"] }}</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 col-sm-4">
              <a style="text-align: left">
                <span class="label" class="la la-trash">
                  Ticket ID: {{ data.hrsd_id }}</span
                ></a
              >
            </div>

            <div class="col-md-4 col-sm-4">
              <!-- <p class="label">Created :{{data.createddate}}</p> -->
              <p class="label">Call Type: {{ data["Call Type"] }}</p>
            </div>
            <div class="col-md-4 col-sm-4">
              <p class="label">Department: {{ data.Department }}</p>
            </div>
          </div>

          <div class="row">
            <div class="col-md-4 col-sm-4">
              <p class="label">Assign To: {{ data.assignto }}</p>
            </div>

            <div class="col-md-4 col-sm-4">
              <!-- <p class="label">Created :{{data.createddate}}</p> -->
            </div>
            <div class="col-md-4 col-sm-4">
              <!-- <p class="label">Created :{{data.createddate}}</p> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
