<div class="container-fluid mt-3 ">

    <div class="row ">
        <div class="col-md-1"></div>
        <div class="col-md-3 card p-3 me-3" >
            <p class="center">
                <mat-icon style="font-size: 26px;">account_circle</mat-icon>
            </p>
            User Management
        <hr>
            <div class="row mt-3" >
               <div class="col-md-4 card1" (click)="routeuser()">
                <p class="center">
                    <mat-icon>face</mat-icon>
                </p>
                User
               </div>
               <div class="col-md-4 card1">
                <p class="center">
                    <mat-icon> contacts</mat-icon>
                </p>
                Role
               </div>
               <div class="col-md-4 card1">
                <p class="center">
                    <mat-icon>group_work</mat-icon>
                </p>
                Group
               </div>
              
            </div>
            <div class="row mt-3">
               <div class="col-md-4 card1">
                <p class="center">
                    <mat-icon>settings_phone</mat-icon>
                </p>
                Contact
               </div>
               <div class="col-md-4 card1" [routerLink]="['/reset-password']">
                <p class="center">
                    <mat-icon>lock_open</mat-icon>
                </p>
                Pass_Reset
               </div>
            </div>
        </div>
        <div class="col-md-3 card p-3 me-3" >
            <p class="center">
                <mat-icon style="font-size: 26px;">horizontal_split</mat-icon>
            </p>
            Asset Management
            <hr>
            <div class="row mt-3" [routerLink]="['/item-master']">
               <div class="col-md-4 card1">
                <p class="center">
                    <mat-icon>subject</mat-icon>
                </p>
                Item
               </div>
               <div class="col-md-4 card1">
                <p class="center">
                    <mat-icon> business</mat-icon>
                </p>
                Bulkload
               </div>
               <div class="col-md-4 card1">
                <p class="center">
                    <mat-icon>wallpaper</mat-icon>
                </p>
                Attachment
               </div>
              
            </div>
           
        </div>
        <div class="col-md-3 card p-3" >
            <p class="center">
                <mat-icon style="font-size: 26px;">supervisor_account</mat-icon>
            </p>
            Customer Management
            <hr>
            <div class="row mt-3" [routerLink]="['/customer']">
               <div class="col-md-4 card1">
                <p class="center">
                    <mat-icon>people_outline</mat-icon>
                </p>
                Customer
               </div>
               <div class="col-md-4 card1">
                <p class="center">
                    <mat-icon> business</mat-icon>
                </p>
                Bulkload
               </div>
               <div class="col-md-4 card1">
                <p class="center">
                    <mat-icon>settings_phone</mat-icon>
                </p>
                Contact
               </div>
              
            </div>
            <div class="row mt-3">
               <div class="col-md-4 card1">
                <p class="center">
                    <mat-icon>pool</mat-icon>
                </p>
                Address
               </div>
            </div>
        </div>
      
    </div>
    <div class="row mt-3">
         <div class="col-md-1"></div>
        <div class="col-md-3 card p-3 me-3" >
            <p class="center">
                <mat-icon style="font-size: 26px;">phonelink</mat-icon>
            </p>
            IT Software Management
            <hr>
            <div class="row mt-3" >
               <div class="col-md-4 card1" [routerLink]="['/it-sm/laptop']">
                <p class="center">
                    <mat-icon>laptop_chromebook</mat-icon>
                </p>
                Laptop
               </div>
               <div class="col-md-4 card1" [routerLink]="['it-sm/desktop']">
                <p class="center">
                    <mat-icon>tv</mat-icon>
                </p>
                Desktop
               </div>
               <div class="col-md-4 card1" [routerLink]="['/it-sm/server']">
                <p class="center">
                    <mat-icon>speaker</mat-icon>
                </p>
                Server
               </div>
              
            </div>
            <div class="row mt-3">
               <div class="col-md-4 card1" [routerLink]="['/it-sm/monitor']">
                <p class="center">
                    <mat-icon>important_devices</mat-icon>
                </p>
                Monitor
               </div>
               <div class="col-md-4 card1" [routerLink]="['/it-sm/accessories']">
                <p class="center">
                    <mat-icon>memory</mat-icon>
                </p>
                Accessories
               </div>
               <div class="col-md-4 card1" [routerLink]="['it-sm/history']">
                <p class="center">
                    <mat-icon>brightness_7</mat-icon>
                </p>
                History
               </div>
            </div>
        </div>
        <div class="col-md-3 card p-3 me-3"  >
            <p class="center">
                <mat-icon style="font-size: 26px;">grain</mat-icon>
            </p>
            Event management
            <hr>
            <div class="row mt-3">
                <div class="col-md-4 card1" [routerLink]="['/event']">
                 <p class="center">
                     <mat-icon>important_devices</mat-icon>
                 </p>
                 Event
                </div>
                <div class="col-md-4 card1" [routerLink]="['/it-sm/accessories']">
                 <p class="center">
                    <mat-icon>meeting_room</mat-icon>
                 </p>
                 Accessories
                </div>
                <div class="col-md-4 card1" [routerLink]="['it-sm/history']">
                 <p class="center">
                     <mat-icon>brightness_7</mat-icon>
                 </p>
                 History
                </div>
             </div>
        </div>
        <div class="col-md-3 card p-3">
            <p class="center">
                <mat-icon style="font-size: 26px;">gamepad</mat-icon>
            </p>
            Project management
            <hr>
            <div class="row mt-3">
                <div class="col-md-4 card1" [routerLink]="['/proj-management']">
                 <p class="center">
                    <mat-icon> layers</mat-icon>
                 </p>
                 Project
                </div>
                <div class="col-md-4 card1" [routerLink]="['/proj-management/team']">
                 <p class="center">
                    <mat-icon>wc</mat-icon>
                 </p>
                 Team
                </div>
                <div class="col-md-4 card1" [routerLink]="['proj-management/task']">
                 <p class="center">
                    <mat-icon>subject</mat-icon>
                 </p>
                 Task
                </div>
             </div>
            <div class="row mt-3">
                <div class="col-md-4 card1" [routerLink]="['/proj-management/proj-report']">
                 <p class="center">
                    <mat-icon>receipt</mat-icon>
                 </p>
                 Report
                </div>
            
             </div>
        </div>
      
    </div>
    <div class="row mt-3">
        <div class="col-md-1"></div>
        <div class="col-md-3 card p-3 me-3" >
            <p class="center">
                <!-- <img src="../../assets/idea.gif" style="width:20px; height:20px"> -->
                <mat-icon style="font-size: 26px;">view_list</mat-icon>
            </p>
            Incident Management
            <hr>
            <div class="row mt-3">
                <div class="col-md-4 card1" [routerLink]="['/incident']">
                 <p class="center">
                    <mat-icon>confirmation_number</mat-icon>
                 </p>
                 Incident
                </div>
                <div class="col-md-4 card1" [routerLink]="['/incident/case']">
                 <p class="center">
                    <mat-icon>hourglass_full</mat-icon>
                 </p>
                 Cases
                </div>
                <div class="col-md-4 card1" [routerLink]="['incident/task']">
                 <p class="center">
                    <mat-icon>line_style</mat-icon>
                 </p>
                 Tasks
                </div>
             </div>
            <div class="row mt-3">
                <div class="col-md-4 card1" [routerLink]="['/incident/eng']">
                 <p class="center">
                    <mat-icon>supervised_user_circle</mat-icon>
                 </p>
                 Engineer
                </div>
                <div class="col-md-4 card1" >
                 <p class="center">
                    <mat-icon>poll</mat-icon>
                 </p>
                 Report
                </div>
              
             </div>
          
        </div>
        <!-- <div class="col-md-3 card p-3 me-3" [routerLink]="['/admin/form-master']">
            <p class="center">
                <mat-icon style="font-size: 26px;">iso</mat-icon>
            </p>
            Master Fields

            <div class="row mt-3">
                <hr>
                <div class="mt-3" [routerLink]="['/incident/eng']">
                 <p class="center" >
                    <mat-icon >photo_filter</mat-icon>
                 </p>
                 Add New From/Fields
                </div>
             </div>
        </div> -->
        <div class="col-md-3 card p-3">
            <p class="center">
                <mat-icon style="font-size: 26px;">shutter_speed</mat-icon>
               
            </p>
            Others
            <hr>
            <div class="row mt-3">
                <div class="col-md-4 card1" [routerLink]="['/incident']">
                 <p class="center">
                    <mat-icon >supervisor_account</mat-icon>
                 </p>
                 Employee
                </div>
                <div class="col-md-4 card1" [routerLink]="['/incident/case']">
                 <p class="center">
                    <mat-icon >error_outline</mat-icon>
                 </p>
                 Problem
                </div>
                <div class="col-md-4 card1" [routerLink]="['incident/task']">
                 <p class="center">
                    <mat-icon>star_border</mat-icon>
                 </p>
                 Knowledge
                </div>
             </div>
            <div class="row mt-3">
                <!-- <div class="col-md-4 card1" [routerLink]="['/incident/eng']">
                 <p class="center">
                    <mat-icon>whatshot</mat-icon>
                 </p>
                 Change
                </div> -->
                <div class="col-md-4 card1" [routerLink]="['/history']">
                 <p class="center">
                    <mat-icon>receipt</mat-icon>
                 </p>
                 History
                </div>
                <div class="col-md-4 card1"[routerLink]="['/history']" >
                 <p class="center">
                    <mat-icon>ac_unit</mat-icon>
                 </p>
                 Licence
                </div>
                <div class="col-md-4 card1" [routerLink]="['/help-support']">
                    <p class="center">
                       <mat-icon>headset_mic</mat-icon>
                    </p>
                    HelpSupport
                   </div>
              
             </div>
           
        </div>
      
    </div>
    <br>
 
</div>
