<section>
  <div class="container">
    <div class="row card p-3">
      <h2 class="label">Update User</h2>
      <hr />
      <form [formGroup]="dynamicForm">
        <div class="row">
          <div class="col-md-6 px-2 py-1" *ngFor="let field of nosubform">
            <mat-form-field class="d-grid gap-2" appearance="outline">
              <mat-label class="label">{{ field?.column_label }}</mat-label>
              <input class="label"
                [readonly]="
                  field.read_only ? true : field.update_column ? false : true
                "
                *ngIf="
                  field.type != 'dropdown'
                    ? field.type != 'assigndropdown'
                    : false
                "
                matInput
                formControlName="{{ field.column_label }}"
                type="{{ field?.type }}"
              />
              <mat-select class="label"
                formControlName="{{ field.column_label }}"
                *ngIf="field.type == 'dropdown'"
              >
                <mat-option class="label">Select Column name</mat-option>
                <mat-option class="label"
                  [disabled]="
                    field.read_only ? true : field.update_column ? false : true
                  "
                  [value]="options.id"
                  *ngFor="let options of field.column_value"
                  >{{ options.value | titlecase }}</mat-option
                >
              </mat-select>

              <mat-select class="label"
                [multiple]="true"
                formControlName="{{ field.column_label }}"
                *ngIf="field.type == 'assigndropdown'"
              >
                <mat-option class="label"
                  [value]="options.id"
                  *ngFor="let options of field.column_value"
                >
                  {{ options.value }}</mat-option
                >
              </mat-select>
              <mat-icon
                matSuffix
                *ngIf="
                  field.type == 'dropdown' || field.type == 'assigndropdown'
                "
                (click)="$event.stopPropagation(); addField(field)"
                >add_circle</mat-icon
              >
              <mat-error *ngIf="checkMandatory" class="label"
              >{{field.column_label}} is required.</mat-error
            >
            <!-- <mat-error *ngIf="checkValid"
              >{{field.column_label}} is invalid.</mat-error
            > -->
            </mat-form-field>
          </div>
        </div>
        <div class="row card p-3 mt-2" *ngIf="subformdata.length != 0">
          <h2 class="label">{{ subformdata[0].module_title }}</h2>
          <hr />
          <div class="row">
            <div class="col-md-6 px-2 py-1" *ngFor="let field of subformdata">
              <mat-form-field class="d-grid gap-2" appearance="outline">
                <mat-label class="label">{{ field?.column_label }}</mat-label>
                <!-- <input
                  *ngIf="
                    field.type != 'dropdown'
                      ? field.type != 'assigndropdown'
                      : false
                  "
                  matInput
                  formControlName="{{ field.column_label }}"
                  type="{{ field?.type }}"
                /> -->
                <input class="label"
                pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\\.[a-z]{2,4}|[(]?[0-9]{3}[)]?[-\s\.]?[0-9]{3}[-\s\.]?[0-9]{4,6}"
                [readonly]="field.read_only"
                (keypress)="OnlyNumbersAllowed($event, field.column_label)"
                maxlength="{{ field.isactive }}"
                minlength="{{ field.isactive }}"
                pattern="{{ field.pattern }}"
                *ngIf="
                  field.type != 'dropdown'
                    ? field.type != 'assigndropdown'
                    : false
                "
                matInput
                formControlName="{{ field.column_label }}"
                type="{{ field?.type }}"
              />
                <mat-select class="label"
                  formControlName="{{ field.column_label }}"
                  *ngIf="field.type == 'dropdown' ? true : false"
                >
                  <mat-option class="label">Select Column name</mat-option>
                  <mat-option class="label"
                    [value]="options.id"
                    *ngFor="let options of field.column_value"
                    >{{ options.value | titlecase }}</mat-option
                  >
                  <mat-icon
                    matSuffix
                    *ngIf="
                      field.type == 'dropdown' || field.type == 'assigndropdown'
                    "
                    (click)="$event.stopPropagation(); addField(field)"
                    >add_circle</mat-icon
                  >
                </mat-select>
                <mat-error *ngIf="checkMandatory" class="label">{{field.column_label}} is required.</mat-error
              >
              <!-- <mat-error *ngIf="checkValid">{{field.column_label}} is invalid.</mat-error
              > -->
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="text-center mt-2">
          <button
            class="me-2 label"
            mat-raised-button
            type="submit"
            color="secondary"
            onclick="history.back()"
          >
            Cancel
          </button>
          <button
            *ngIf="!updatebtn"
            mat-raised-button
            class="label"
            type="submit"
            [disabled]="!dynamicForm.valid"
            color="primary"
            (click)="submitForm()"
          >
            Update user
          </button>
          <button
            *ngIf="updatebtn"
            mat-raised-button
            class="label"
            type="submit"
            [disabled]="true"mat-raised button
            color="primary"
            (click)="submitForm()"
          >
            Updating...
            <div
              class="spinner-border spinner-border-sm text-secondary"
              role="status"
            >
              <span class="sr-only"></span>
            </div>
          </button>
        </div>
      </form>
    </div>
  </div>
</section>
