<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-1">
                <button type="button" class="btn btn-danger" onclick="history.back()"><mat-icon style="float: left;">keyboard_return</mat-icon> </button>
            </div>
            <div class="col-md-4">
              <div class="searchBar d-flex justify-content-center align-items-center">
                <mat-icon>search</mat-icon>
                <input class="form-control form-control-sm ml-3 w-75 rounded-input p-2" type="text" #input placeholder="Search Your Queries..." (keyup)="applyFilter($event)" aria-label="Search">
              </div>
            </div>
            
            <div class="col-md-7 text-end" style="margin-top: 8px;">
                <button mat-raised-button [routerLink]="['/link-management/create']" color="primary"><mat-icon style="float: left;">add</mat-icon> Create Link</button>
                <button mat-icon-button [matMenuTriggerFor]="menu" [hidden]="true" aria-label="Example icon-button with a menu">
                    <mat-icon >more_vert</mat-icon>
                  </button>
                  <mat-menu #menu="matMenu" [hidden]="true">
                  
                    <mat-checkbox [checked]="task.check"  #menuItems *ngFor="let task of tempvar, let i = index;" color="primary">
                    {{task.keyName}}
                  </mat-checkbox>
                  </mat-menu>
            </div>
        </div>
        <div class="row my-2">
            <div class="card p-2 shadow">
                <div class="table-hight">
                    <table mat-table [dataSource]="dataSource" tabindex="0">
                        <ng-container matColumnDef="sr">
                          <th mat-header-cell *matHeaderCellDef> No. </th>
                          <td mat-cell *matCellDef="let element; let i = index;"> {{i+1}} </td>
                        </ng-container>
                        <ng-container matColumnDef="formName">
                          <th mat-header-cell *matHeaderCellDef>Form Name</th>
                          <td mat-cell *matCellDef="let element"> {{element.form_name}} </td>
                        </ng-container>
                        <ng-container matColumnDef="linkedForm">   
                          <th mat-header-cell *matHeaderCellDef>Linked Form</th>
                          <td mat-cell *matCellDef="let element"> {{element.linked_form}} </td>
                        </ng-container>
                    
                        <!-- <ng-container matColumnDef="action">
                          <th mat-header-cell *matHeaderCellDef> action </th>
                          <td mat-cell *matCellDef="let row">
                            <button mat-mini-fab color="primary" (click)="OpenUpdate(row.id,row)"><mat-icon>edit</mat-icon></button>
                        </td>
                        </ng-container> -->
                        <tr mat-header-row *matHeaderRowDef="copyDisplayColumn; sticky: true"></tr>
                        <tr mat-row *matRowDef="let row; columns: copyDisplayColumn;"></tr>
                        <tr class="mat-row" *matNoDataRow>
                            <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
                        </tr>
                    </table>
                </div>
                <mat-paginator [pageSizeOptions]=pagination showFirstLastButtons aria-label="Select page of periodic elements"> </mat-paginator>
            </div>
        </div>
    </div>
</section>
<router-outlet></router-outlet>